@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0 0;
    font-size: 18px;
}

/*body{
    background-image: url("./img/Fondo.png");
    background-position: center;
    background-repeat: no-repeat;
}*/

header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content:center;
    height: 90px;
    width: 100%;
    padding: 0px 50px;
    box-shadow: rgba(149,157,165,0.25) 0px 0px 30px 15px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 65px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.logo{
    display: flex;
    font-family: 'Oswald', sans-serif;
    align-content: center;
    align-items: center;
}

.header .logo .nombre{
    color: #92b4ec;
    font-size: 150%;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 30px;
}

.header .nav-links li a:hover{
    text-decoration: underline;
    color: #ffd24c;
}

.header .nav-links a{
    font-size: 110%;
    color: #92b4ec;
    text-decoration: none;
}

.header .button button{
    font-size: 100%;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    padding: 9px 25px;
    background: #92b4ec;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.header .button button:hover{
    background-color: #ffd24c;
    color: #92b4ec;
}

main{
    background-color:transparent;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    color:#92b4ec;
}

#titular {
    margin-top: 100px;
    padding: 20px 0px;
    width: 90% ;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    flex-direction: column;
    width: 800px;
    border-radius: 5%;
}

#texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.texts h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    width: 100%;
    font-weight: 800;
    background: linear-gradient(310deg, rgba(255,210,76,1) 30%, rgba(146,180,236,1) 77%);
    background-clip: text;
    color: transparent;
}

.texts p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    max-width: 500px;
}

.botones .call button{
    font-size: 100%;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 15px;
    background: #92b4ec;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.texts .botones .call button:hover {
    background-color: #ffd24c;
    color: #ffffff;
}

.botones .learn button{
    font-size: 100%;
    color:#92b4ec;
    font-family: 'Ubuntu', sans-serif;
    padding: 8px 10px;
    background:#ffffff;
    border-color: #92b4ec;
    border-radius: 10px;
    cursor: pointer;
}

.texts .botones .learn button:hover {
    background-color: #ffd24c;
    color: #fff;
    border:none;
    border-color: #ffd24c;
}

.text-info {
     display: flex;
     font-family: 'Ubuntu', sans-serif;
     align-items: center;
     justify-content: center;
     width: 80%;
     max-width: 850px;
     color: #92b4ec;
     text-align: center;
     padding: 30px 0px;
     font-weight: 300;    
}

@media (max-width:992px) {

    .button {
        display: none;
    }

    .texts {
        text-align: center;
        width: 90%;
        align-items: center;
    }

    .texts h1 {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .texts p {
        max-width: 100%;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }

    .botones {
        justify-content: center;
    }
    
    .img {
        display: none;
    }

    .text-info {
        font-size: 15px;
    }
}

@media (max-width:576px){

    .navbar ul {
        background-color: #ffffff;
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .nav-links {
        transform: translateX(0%);
        transition: all 0.4s ease-in;
    }

    .texts p {
        max-width: 100%;
    }

}

.textos-cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 50px 50px 50px;
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    padding: 0px 80px 80px 80px;
}

.parrafo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

#cards {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
    max-width: 1500px;
}

.texto-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #92b4ec;
    color: #ffffff;
    flex-wrap: wrap;
    padding: 5px 10px 30px;
    border-radius: 5%;
    max-width: 380px;
}

#cards p {
    font-size: 15px;
    max-width: 300px;
}

.img-card{
    padding: 20px ;
    width: 350px;
    border-radius: 10%;
}

#footer {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffd24c;
    gap: 50px;
}

.direcciones {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
}

.direcciones h1 {
    display: flex;
    font-size: 30px;
}

.direcs {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.direcs h2{
    font-size: 20px;
}

.direc-1 {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
}

.direc-1 div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.direc-2 {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
}

.direc-2 div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.direc-1 img {
    width: 25px;
}

.direc-2 img {
    width: 25px;
}

.mapa-img img {
    padding: 20px 20px;
    height: 550px;
    width: 550px;
}

.redes {
    display: flex;
    justify-content: start;
    gap: 15px;
}

.redes img {
    width: 30px;
}