@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0 0;
    font-size: 20px;
}

body{
    background-image: url("https://images.pexels.com/photos/691858/pexels-photo-691858.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=11");
    background-position: center;
    background-repeat: no-repeat;
}

header{
    background-color: #ffffff;
    border: #ffd24c;
    border-width: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    align-content:center;
    height: 90px;
    padding: 0;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 65px;
    width: auto;
}

.logo{
    display: flex;
    font-family: 'Oswald', sans-serif;
    align-content: center;
    align-items: center;
}

.header .logo .nombre{
    color: #92b4ec;
    font-size: 150%;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 30px;
}

.header .nav-links li a:hover{
    text-decoration: underline;
    color: #ffd24c;
}

.header .nav-links a{
    font-size: 110%;
    color: #92b4ec;
    text-decoration: none;
}

.header .button button{
    font-size: 100%;
    color: #ffffff;
    
    font-family: 'Ubuntu', sans-serif;
    padding: 9px 25px;
    background: #92b4ec;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.header .button button:hover{
    background-color: #ffd24c;
    color: #92b4ec;
}
