/* Tablets */

@media (max-width:992px) {

    .navbar {
        gap: 10px;
    }
     .nav-links {
        position: absolute;
        top: 80px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: #ffffff;
        border: 2px solid #92b4ec;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
     }

     .nav-links a{
        font-size: 18px;
     }

     .navbar i {
        display: flex;
        cursor: pointer;
     }

     #toggle-menu:checked + .nav-links {
        display: flex;
     }

     #titular {
        width: 90%;
        margin-top: 150px;
        flex-direction: column;
        gap: 30px;
     }

     .texts {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 25px;
     }

     .texts h1{
        width: 90%;
        max-width: 600px;
        min-width: unset;
     }

     .texts p {
        width: 70%;
        max-width: 600px;
     }

     #imagen {
      width: 90%;
     }

     .text-info {
        width: 60%;
     }

     #tarjetas {
        justify-content: center;
        text-align: center;
        width: 80%;
     }

     .textos-cards {
        display: flex;
        text-align: center;
     }

     #footer {
        flex-direction: column;
        justify-content: center;
     }

     #datos-footer {
      flex-direction: column;
      justify-content: center;
      gap: 0px;
   }

     .direcciones h1{
        justify-content: center;
     }

     .direcciones .redes{
        justify-content: center;
     }

}

@media (max-width:576px){

   header {
      position: absolute;
      padding: 0px 30px;
   }

   .navbar {
      gap: 10px;
  }

   .nav-links {
      position: absolute;
      top: 80px;
      left: 5%;
      right: 5%;
      width: 90%;
      flex-direction: column;
      background-color: #ffffff;
      border: 2px solid #92b4ec;
      border-top: 0px;
      border-radius: 0px 0px 15px 15px;
      align-items: flex-start;
      padding: 45px 30px;
      gap: 25px;
      z-index: 2;
      display: none;
   }

   .nav-links a{
      font-size: 18px;
   }

   .navbar i {
      display: flex;
      cursor: pointer;
   }

   #toggle-menu:checked + .nav-links {
      display: flex;
   }

   #titular {
      margin-top: 100px;
   }

   .text-info {
      width: 70%;
   }

   .textos-cards {
      padding: 0px 0px 50px;
   }

   #footer {
      margin: 0%;
   }
   
   #datos-footer {
      width: 90%;
      padding: 0px;
      margin-bottom: 0%;
      justify-content: center;
   }

   .mapa-img {
      padding: 15px 0px 30px;
   }

   .direcciones {
      padding: 0px;
      margin-bottom: 0%;
   }

   .redes {
      margin: 0%;
      padding-top: 40px;
   }

   .direcs {
      display: inline;
      gap: 50px;
   }

   .direc-1 {
      justify-content: center;
   }

   .mini-img { 
      margin: 0%;
   }
}